.firstContainer2 {
  height: auto;
  width: auto;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin: 0;
  background-color: var(--blue-600);
  box-sizing: border-box;
}

.secondContainer2 {
  height: auto;
  width: 95vw;
  background-image: linear-gradient(-25deg, var(--gray-200), white);
  border-bottom: 1px solid var(--blue-600);
  border-top: 1px solid var(--blue-600);
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.secondContainer2 #titles {
  height: auto
}

.secondContainer2 h1 {
  font-size: 4rem;
  font-family: 'Roboto', Helvetica, sans-serif;
}

.secondContainer2 h2 {
  color: var(--violet);
  margin: 0;
  font-weight: 500;
  font-size: 2rem;
}

.secondContainer2 h3 {
  padding: 10px;
  font-size: 1.3rem;
  text-indent: 30px;
  color: var(--gray-800);
  font-weight: 300;
}

.secondContainer2 b {
  font-weight: 900;
  color: var(--violet);
}

.secondContainer2 #cards {
  display: inline-flex;
  text-align: justify;
  margin: 1%;
  margin-bottom: 0;
  align-items: center;
  margin-top: 2%;
}

#cards {
  height: auto;
  width: auto;
}

.secondContainer2 img {
  height: 70vh;
  width: auto;
  border-radius: 0 60px 0 60px;
  border: 1px solid var(--violet);
  margin: 20px;
}

.secondContainer2 #texts p {
  text-indent: 50px;
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.3rem;
}

.secondContainer2 img:hover {
  height: 75vh;
  width: auto;
  transition: 500ms;
  backdrop-filter: blur(10px);
  border: 1px solid var(--blue-200);
  box-shadow: 0 0 40px var(--blue-400);
  cursor: pointer;
}

@media(max-width:768px) {
  .secondContainer2 #cards {
    text-align: center;
    align-self: center;
    height: auto;
    width: fit-content;
    display: block;
  }

}