.firstContainer2 {
    height: 170vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0;
    background-color: var(--violet);
    box-sizing: border-box;
}

.secondContainer2 {
    height: 170vh;
    width: 95vw;
    background-image: linear-gradient(25deg, white, var(--gray-200));
    border-bottom: 1px solid var(--blue-600);
    border-top: 1px solid var(--blue-600);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#titles h2 {
    margin: -30px;
}

.secondContainer2 h1 {
    font-size: 4rem;
}

.secondContainer2 #texto1p2 {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin: 5%;
    margin-bottom: 0;
    margin-top: 0;
    align-items: center;
    margin-top: 5%;
}

.secondContainer2 #texto2p2 {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin: 5%;
    margin-top: 0;
    align-items: center;
    color: var(--gray-800);
}



.secondContainer2 img {
    height: 50vh;
    border-radius: 0 60px 0 60px;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 20px;
    margin-left: 20px;
}

.secondContainer2 h1 {
    color: var(--violet);
}

.secondContainer2 h2 {
    color: var(--violet);
    margin: 0;
    font-family: 'SurferBay';
    font-weight: 500;
    font-size: 3rem;
}

.secondContainer2 h3 {
    padding: 10px;
    font-size: 1.3rem;
    text-indent: 30px;
    color: var(--gray-800);
    font-weight: 300;
}

.secondContainer2 b {
    font-weight: 900;
    color: var(--violet);
}

@media(max-width:1200px) {

    #titles h2 {
        margin: -30px;
    }

    .secondContainer2 h1 {
        font-size: 3rem;
    }

    .secondContainer2 #texto1p2 {
        justify-content: center;
        text-align: justify;
        margin: 5%;
        margin-bottom: 0;
        margin-top: 0;
        align-items: center;
        margin-top: 5%;
        display: block;
        box-sizing: border-box;;
    }

    .secondContainer2 #texto2p2 {
        justify-content: center;
        text-align: justify;
        margin: 5%;
        margin-bottom: 0;
        margin-top: 0;
        align-items: center;
        display: block;
        box-sizing: border-box;
    }

    .secondContainer2 #texto1p2 img{
        
        width: 80%;
        margin: 0;
        padding: 10px;
    }
    .secondContainer2 #texto2p2 img{
        
        width: 80%;
        
        margin: 0;
        padding: 10px;
    }

    .secondContainer2 img {
        height: 40vh;
        border-radius: 0 60px 0 60px;
        padding: 20px;
    }

    .secondContainer2 h1 {
        color: var(--violet);
    }

    .secondContainer2 h2 {
        color: var(--violet);
        margin: 0;
        font-family: 'SurferBay';
        font-weight: 500;
        font-size: 2rem;
    }

    .secondContainer2 h3 {
        padding: 10px;
        font-size: 0.88rem;
        text-indent: 30px;
        color: var(--gray-800);
        font-weight: 300;
        padding: 20px;
    }

    .secondContainer2 b {
        font-weight: 900;
        color: var(--violet);
    }

}